services:
  rtmp:
    image: ghcr.io/netwarlan/rtmp
    volumes:
      - ./html:/html
    restart: "unless-stopped"
    logging:
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      vlan:
        ipv4_address: 10.10.10.160

networks:
  vlan:
    external: true
